<h1> Interested in a quote? Fill out this form to get started.</h1>
<div>
  <%= form_with model: @consoltation do |form| %>
    <%= form.label "First Name *" %> <br>
    <%= form.text_field :first_name %> <br>

    <%= form.label "Last Name *" %> <br>
    <%= form.text_field :last_name %> <br>

    <%= form.label "Address" %> <br>
    <%= form.text_field :address %> <br>

    <%= form.label "City" %> <br>
    <%= form.text_field :city %> <br>

    <%= form.label "State" %> <br>
    <%= form.text_field :state %> <br>

    <%= form.label "Zip Code" %> <br>
    <%= form.text_field :zip_code %> <br>

    <%= form.label "Email" %> <br>
    <%= form.text_field :email %> <br>

    <%= form.label "Phone *" %> <br>
    <%= form.text_field :phone %> <br>

    <%= form.label "Project Type" %> <br>
    <%= form.select :project_type, ["Landscape", "Hardscape", "Fall Cleanup", "Installation", "Irrigation", "Arbor", "Removal"] %> <br>

    <%= form.label "Have Plans?" %> <br>
    <%= form.select :has_plans, ["Yes", "No"] %> <br>

    <%= form.label "How did you hear about us?" %> <br>
    <%= form.text_field :referral %> <br>

    <%= form.submit "Submit" %>
  <% end %>
</div>
